<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <title>Document</title>
    <style>
      table thead tr th {
        text-align: center;
      }
      .width {
        width: 65%;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <div id="app" v-bind:class="{width:width}">
      <input
        type="text"
        placeholder="手机号"
        class="form-control"
        v-model="search"
      />
      <input type="text" v-model="addForm.id" placeholder="id" />
      <input type="text" v-model="addForm.name" placeholder="姓名" />
      <input type="text" v-model="addForm.age" placeholder="年龄" />
      <input type="text" v-model="addForm.sex" placeholder="性别" />
      <input type="text" v-model="addForm.number" placeholder="班级" />
      <input type="text" v-model="addForm.city" placeholder="城市" />
      <input type="text" v-model="addForm.shou" placeholder="手机号" />
      <button @click="add" class="btn">添加</button>
      <button @click="save" class="btn">保存</button>
      <table class="table table-hover table-bordered table-condensed">
        <tr>
          <th>ID</th>
          <th>姓名</th>
          <th>年龄</th>
          <th>性别</th>
          <th>班级</th>
          <th>城市</th>
          <th>手机号</th>
          <th>操作</th>
        </tr>
        <tr v-for="item in searchList" :key="item.id">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.age}}</td>
          <td>{{item.sex}}</td>
          <td>{{item.number}}</td>
          <td>{{item.city}}</td>
          <td>{{item.shou}}</td>
          <td>
            <button @click="del(item.id)" class="btn">删除</button>
            <button @click="mod(item.id)" class="btn">修改</button>
          </td>
        </tr>
      </table>
    </div>
    <script src="../js/vue.js"></script>
    <script>
      let vm = new Vue({
        el: "#app",
        data: {
          search: "",
          list: [
            {
              id: 1,
              name: "校长",
              age: 50,
              number: "111",
              sex: "男",
              zhuanye: "",
              dy: "是",
              city: "成都",
              tp: "img#touxiang3.png",
              yhm: "boss",
              shou: "13548452252",
            },
            {
              id: 2,
              name: "副校长",
              age: 48,
              number: "112",
              sex: "女",
              zhuanye: "",
              dy: "是",
              city: "成都",
              tp: "img#touxiang4.png",
              shou: "13548452252",
              yhm: "boss1",
            },
            {
              id: 3,
              name: "班主任",
              age: 29,
              number: "113",
              sex: "男",
              zhuanye: "",
              bj: 1,
              city: "成都",
              tp: "img#touxiang5.png",
              shou: "13548452252",
              yhm: "bzr",
            },
            {
              id: 4,
              name: "班主任助手",
              age: 25,
              number: "114",
              sex: "女",
              zhuanye: "",
              bj: 2,
              city: "梁山",
              tp: "img#touxiang1.png",
              shou: "13548452252",
              yhm: "bzrzs",
            },
            {
              id: 5,
              name: "隔壁班主任",
              age: 28,
              number: "115",
              sex: "女",
              zhuanye: "",
              bj: 3,
              city: "攀枝花",
              tp: "img#touxiang2.png",
              shou: "18244463261",
              yhm: "gbbzr",
            },
            {
              id: 6,
              name: "茂茂",
              age: 18,
              number: "11001",
              sex: "男",
              zhuanye: "前端",
              bj: 1,
              cheng: 98,
              city: "成都",
              tp: "img#touxiang3.png",
              shou: "18244463261",
              yhm: "mm",
            },
            {
              id: 7,
              name: "刘茂",
              age: 18,
              number: "11002",
              sex: "男",
              zhuanye: "前端",
              bj: 1,
              cheng: 87,
              city: "成都",
              tp: "img#touxiang4.png",
              shou: "18244463261",
              yhm: "lm",
            },
            {
              id: 8,
              name: "向雯",
              age: 17,
              number: "11003",
              sex: "女",
              zhuanye: "设计",
              bj: 1,
              cheng: 89,
              city: "内江",
              tp: "img#touxiang5.png",
              shou: "18244463261",
              yhm: "xw",
            },
            {
              id: 9,
              name: "沈周",
              age: 18,
              number: "11004",
              sex: "男",
              zhuanye: "设计",
              bj: 1,
              cheng: 92,
              city: "杭州",
              tp: "img#touxiang1.png",
              yhm: "sz",
              shou: "18244463261",
            },
            {
              id: 10,
              name: "姜贞羽",
              age: 20,
              number: "11005",
              sex: "女",
              zhuanye: "舞蹈",
              bj: 1,
              cheng: 97,
              city: "北京",
              tp: "img#touxiang2.png",
              yhm: "jzy",
              shou: "18244463261",
            },
            {
              id: 11,
              name: "费渡",
              age: 18,
              number: "11006",
              sex: "男",
              zhuanye: "刑侦",
              bj: 1,
              cheng: 99,
              city: "丽江",
              tp: "img#touxiang3.png",
              yhm: "fd",
              shou: "18244463261",
            },
          ],
          width: true,
          addForm: {
            id: "",
            name: "",
            age: "",
            sex: "",
            number: "",
            city: "",
            shou: "",
          },
        },
        computed: {
          searchList: function () {
            return this.list.filter((item) => {
              return item.shou.indexOf(this.search) >= 0;
            });
          },
        },
        methods: {
          del: function (id) {
            for (var i = 0; i < this.list.length; i++) {
              if (this.list[i].id == id) {
                this.list.splice(i, 1);
                break;
              }
            }
          },
          add: function () {
            this.list.push({ ...this.addForm });
            this.addForm = {
              id: "",
              name: "",
              age: "",
              sex: "",
              number: "",
              city: "",
              shou: "",
            };
          },
          mod(id) {
            for (var i = 0; i < this.list.length; i++) {
              if (this.list[i].id == id) {
                this.addForm.id = this.list[i].id;
                this.addForm.name = this.list[i].name;
                this.addForm.age = this.list[i].age;
                this.addForm.sex = this.list[i].sex;
                this.addForm.number = this.list[i].number;
                this.addForm.city = this.list[i].city;
                this.addForm.shou = this.list[i].shou;
                break;
              }
            }
          },
          save: function () {
            for (var i = 0; i < this.list.length; i++) {
              if (this.addForm.id == this.list[i].id) { 
                this.$set(this.list,i,{...this.addForm});
                break;
              }
            }
            this.addForm = {
              id: "",
              name: "",
              age: "",
              sex: "",
              number: "",
              city: "",
              shou: "",
            };  
          },
        },
      });
    </script>
  </body>
</html>
